<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding" allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>  
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="False" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="KrausWarehouseServices.Service.RMA.Get">
        <endpoint address="SOA" binding="basicHttpBinding" contract="KrausWarehouseServices.Service.RMA.IGet">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="X" behaviorConfiguration="webHttpBinding"
          binding="webHttpBinding" contract="KrausWarehouseServices.Service.RMA.IGet" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KrausWarehouseServices.Service.RMA/Get/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KrausWarehouseServices.Service.RMA.Save">
        <endpoint address="SOA" binding="basicHttpBinding" contract="KrausWarehouseServices.Service.RMA.ISave">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="X" behaviorConfiguration="webHttpBinding"
          binding="webHttpBinding" contract="KrausWarehouseServices.Service.RMA.ISave" />
        <endpoint address="mex" behaviorConfiguration="" binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KrausWarehouseServices.Service.RMA/Save/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KrausWarehouseServices.Service.Shipping.Get">
        <endpoint address="SOA" binding="basicHttpBinding" contract="KrausWarehouseServices.Service.Shipping.IGet">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="X" behaviorConfiguration="webHttpBinding"
          binding="webHttpBinding" contract="KrausWarehouseServices.Service.Shipping.IGet" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KrausWarehouseServices.Service.Shipping/Get/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KrausWarehouseServices.Service.Shipping.Save">
        <endpoint address="SOA" binding="basicHttpBinding" contract="KrausWarehouseServices.Service.Shipping.ISave">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="X" behaviorConfiguration="webHttpBinding"
          binding="webHttpBinding" contract="KrausWarehouseServices.Service.Shipping.ISave" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KrausWarehouseServices.Service.Shipping/Save/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KrausWarehouseServices.Service.Shipping.Delete">
        <endpoint address="SOA" binding="basicHttpBinding" contract="KrausWarehouseServices.Service.Shipping.IDelete">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="X" behaviorConfiguration="webHttpBinding"
          binding="webHttpBinding" contract="KrausWarehouseServices.Service.Shipping.IDelete" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KrausWarehouseServices.Service.Shipping/Delete/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KrausWarehouseServices.Service.RMA.Delete">
        <endpoint address="SOA" binding="basicHttpBinding" contract="KrausWarehouseServices.Service.RMA.IDelete">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="X" behaviorConfiguration="webHttpBinding" binding="webHttpBinding" contract="KrausWarehouseServices.Service.RMA.IDelete" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KrausWarehouseServices.Service.RMA/Delete/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBinding">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647"/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="x3v6Entities" connectionString="metadata=res://*/Connections.SageX3V6.csdl|res://*/Connections.SageX3V6.ssdl|res://*/Connections.SageX3V6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.7\x3v6;initial catalog=x3v6;persist security info=True;user id=etl_admin;password=d0ntl00k;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Shipping_ManagerEntities1" connectionString="metadata=res://*/Connections.Shipping.ShippingContext.csdl|res://*/Connections.Shipping.ShippingContext.ssdl|res://*/Connections.Shipping.ShippingContext.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.1.7\x3v6;initial catalog=&quot;Shipping Manager&quot;;persist security info=True;user id=etl_admin;password=d0ntl00k;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
